@(pageID: String)(content: Html)
<!DOCTYPE html>
<html lang="en" id="@pageID">
    <head>
        <title>Core Design - @pageID</title>
        <lik rel="stylesheet" type="text/css" media="screen" 
        href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>
        <div id="Container">
            <div id="Logo">
                <h1>Core Design</h1>
                <h3>
                    <em>Website Design and Development Services</em>
                </h3>
            </div>
            <div id="Navigation">
                <ul>
                    <li><a href="/" class="home">Home</a></li>
                    <li><a href="about" class="about">About Us</a></li>
                    <li><a href="services" class="services">Services</a></li>
                    <li><a href="clients" class="clients">Clients</a></li>
                    <li><a href="contact" class="contact">Contact Us</a></li>
                </ul>
            </div>
            <div id="Content">
                @content
            </div>
            <div id="Footer">
                <h6>
                    <em>Copyright &copy; 2015 Core Design</em>
                </h6>
            </div>
        </div>
    </body>
</html>
